h2 {
    color: #FFC700;
    font-weight: bold;

}

.form_usuario_nuevo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_form {
    width: 90%;
    height: 20%;
    margin: 2.5% 0;
    padding-left: 8%;
    outline: none;
    background-color: #E5E5E5;
}

#turn,
#rol {
    width: 100%;
}

#newUser {
    background-color: #FFC700;
    width: 100%;
    height: 20%;
    margin: 2.5% 0;
    padding-left: 8%;
    outline: none;
    font-weight: 800;
    border: none;
}