.home_container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.home_container>div,
.home_container .header_home,
.home_container .rol_info,
.home_container .main_home,
.home_container .rol_aside {
  padding: 1rem;
}

.home_container .header_home {
  background-color: #FFC700;
  grid-column-start: 1;
  grid-column-end: 3;
}

.header_home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logo_header {
  height: 4rem;
}

.nav1 {
  font-size: 2rem;
  font-weight: 800;
}

.icon_header {
  height: 2rem;
}

.home_container .rol_info {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: -10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_container .main_home {
  grid-column: 1/3;
  grid-row: 2/9;
  background-color: #232021;
  color: #ffff;
}

.home_container .rol_aside {
  grid-column: 3/4;
  grid-row: 2/9;
}