.section_recipes {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.img_recipe {
  width: 100%;
  height: auto;

}

.name_recipe {
  color: black;
}

.category_recipe {
  text-align: center;
}