.container_table {
    background-color: white;
    width: 30%;
    height: auto;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    margin: 1%;
    border: 2px inset #232021;
    font-size: 20px;
}

#title_table {
    width: 100%;
    background-color: #FFC700;
    font-weight: bold;
    color: #232021;
    border-right: #FFC700;
}

#time_title {
    width: 100%;
    background-color: #FFC700;
    font-weight: bold;
    color: #232021;
}

.data_table td {
    color: black;
    font-size: 20px;
}

tr:nth-child(odd) {
    background-color: #F6F6F6;
}