.form-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.burger {
    width: 19%;
}

.bq-logo{
    width: 80%;
    position: relative;
    top: -90px;
}

.acc-form {
    border: 1px solid var(--main-color);
    border-radius: 20px;
    width: 40%;
    text-align: left;
    padding: 0% 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.acc-form h1 {
    position: relative;
    top: -100px;
} 

.acc-form label {
    font-weight: bold;
    font-size: 18px;
    align-self: flex-start;
}

.acc-form input {
    border-radius: 20px;
    border: 1px solid var(--darker-gray);
    padding: 3%;
    width: 100%;
}

#emailLabel{
    position: relative;
    top: -90px;
}

#email {
    position: relative;
    top: -98px;
}

#passLabel {
    position: relative;
    top: -98px;
}

#password {
    position: relative;
    top: -106px;
}

.forgot-pass{
    position: relative;
    top: -120px;
    font-size: 14px;
    align-self: flex-end;
} 

.acc-form button {
    position: relative;
    top: -120px;
    width: 75%;
    border-radius: 20px;
    padding: 3%;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border: 0px;
    font-size: 16px;
}

#errorArea{
    color:red;
    border: 1px black solid;
}