@use '../../../Globals.scss';

.btn__empleado {
  background-color: transparent;
  border-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
