* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", "Roboto", sans-serif;
  display: flex;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
}

.login-container {
  display: flex;
  background-image: url("../assets/Administrador.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.logoBurger {
  padding-left: 4%;
  width: 100%;
  height: auto;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  gap: 10px;
  align-items: center;
}

#login {
  font-size: 25px;
  font-weight: 800;
  color: #5b2448;
}

.input {
  width: 80%;
  height: 54px;
  background: #e8e8e8;
  border: 2px solid #e8e8e8;
  border-radius: 6px;
  font-size: 18px;
  color: #5b2448;
  font-weight: 600;
  padding-left: 20px;
}

.input::placeholder {
  font-size: 18px;
  font-weight: 600;
  color: rgba(91, 36, 72, 0.4);
  padding-left: 15px;
}

.title-error-sec {
  display: flex;
  width: 100%;
}

.title-error {
  width: 100%;
  color: #38040e;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name: blink;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttonLogin {
  width: 70%;
  height: 45px;
  background: #0dbadc;
  border-radius: 30px;
  font-weight: 800;
  font-size: 18px;
  color: #5b2448;
}

.SignUp {
  width: 100%;
  text-align: start;
  top: 90%;
  position: absolute;
  font-weight: 800;
  font-size: 16px;
  color: #e8e8e8;
  margin-left: 50px;
}

a:-webkit-any-link {
  position: absolute;
  cursor: pointer;
  text-decoration: none;
  color: #0dbadc;
  font-weight: 800;
  font-size: 16px;
  margin-left: 250px;
}

/* ----------------Tabblet vertical responsive--------------------- */
@media only screen and (min-width: 420px) and (max-width: 744px) {
  #root {
    width: 100%;
    height: 100%;
  }


  .logoBurger {
    height: auto;
    padding-bottom: 20px;
  }

  .box {
    height: 100%;
    text-align: center;
    gap: 10px;
    margin-bottom: 10%;
  }

  .title-error {
    color: #9d0208;
    font-weight: bold;
    font-size: 18px;
  }

  .SignUp {
    width: 100%;
    text-align: start;
    top: 92%;
    position: absolute;
    font-weight: 800;
    font-size: 16px;
    color: #e8e8e8;
    margin-left: 50px;
  }

  a:-webkit-any-link {
    position: absolute;
    cursor: pointer;
    text-decoration: none;
    color: #0dbadc;
    font-weight: 800;
    font-size: 16px;
    margin-left: 250px;
  }
}

/* ----------------Tabblet horizontal responsive--------------------- */
@media only screen and (min-width: 745px) and (max-width: 2500px) {
  #root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
  }

  .login-container {
    /* display: flex; */
    background-image: url("../assets/Administrador.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90% 10%;
    /* flex-direction: column; */
  }

  .logoBurger {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    width: 80%;
  }

  .box {
    justify-self: center;
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/3;
    width: 90%;
    height: 80%;
    background: rgba(248, 248, 248, 0.65);
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.57);
    border-radius: 10px;
    text-align: center;
    gap: 20px;
    padding-top: 60px;
  }

  #login {
    font-size: 40px;
    margin: 20px auto 20px;
  }

  .input {
    width: 70%;
    height: 66px;
    padding-left: 20px;
    font-size: large;
  }

  .title-error {
    color: #9d0208;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 15px;
  }

  .buttonLogin {
    width: 216.24px;
    height: 48px;
    left: 784px;
    top: 444px;
    margin-top: 30px;
    font-size: larger;
    margin-bottom: 10px;
  }

  .SignUp {
    font-size: large;
    position: relative;
    font-size: 18px;
    margin-left: 0;
    top: 0;
    color: #5b2448;
    text-align: center;
  }

  a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    color: #d01580;
    font-weight: 800;
    font-size: large;
    position: relative;
    margin-left: 0;
    margin-bottom: 30px;
  }
}
