.menuButtons {
    display: flex;
}

.breakfastBtn, .dinnerBtn {
    border-radius: 5%;
    margin: 1rem 0;
}

.breakfastMenu, .dinnerMenu {
    width: 45%;
    height: 45%;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 50% 50%;
    column-gap: 25%;
    margin: 1rem;
}

.beverages, .meal {
    display: grid;
    row-gap: 5%;
    justify-items: center;
    grid-template-rows: min-content;
}

.table-input{
    border: var(--main-color) 2px solid;
    border-radius: 10px;
    padding: 0.6em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.table-label{
    padding-right: 0.5em;
}

#tableNum{
    border: 1.5px solid var(--light-gray);
    text-align: center;
}

.verify-order-btn{
    width: auto;
    font-weight: bold;
    letter-spacing: 0.08em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 1rem;
}

.cart-icon{
    height: 1.8em;
    padding-right: 1em;
}

@media (min-width: 769px) and (orientation: landscape){
    .breakfastMenu, .dinnerMenu{
        justify-content: right;
    }
}